# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.apt_generated/
/.apt_generated_tests/
/bin/
/gradle/
/gradlew
/gradlew.bat
/settings.gradle
/.settings/
/.classpath
/.factorypath
/.gitattributes
/.project
